backend/template.yaml
AWSTemplateFormatVersion: "2010-09-09"

Description: Scheduled Lambda Function with esbuild Build

Parameters:
  DeployAlarmsInDev:
    Description: Set to `true` to deploy alarms in a dev environment
    Type: String
    Default: true

  CodeSigningConfigArn:
    Description: The ARN of the Code Signing Config to use, provided by the deployment pipeline
    Type: String
    Default: none

  Environment:
    Description: The name of the environment to deploy to
    Type: String
    AllowedValues:
      - dev
      - build
      - staging
      - integration
      - production
    Default: dev

  LambdaDeploymentPreference:
    Description: |
      Specifies the configuration to enable gradual Lambda deployments. Value can be 'AllAtOnce', a default deployment config, or name of custom DeploymentConfig.
    Type: String
    Default: AllAtOnce

  PermissionsBoundary:
    Description: |
      The ARN of the permissions boundary to apply to any role created by the template
    Type: String
    Default: none

  VpcStackName:
    Description: |
      The stack name of the VPC where the Lambda functions will be deployed
    Type: String
    Default: devplatform-vpc

  DeployMetricFiltersInNonProdLikeEnvironment:
    Description: Set to the string value `true` to deploy metric filters in a DEV environment
    Type: String
    Default: false

Mappings:
  EnvironmentVariables:
    dev:
      CertificateArnV1UsEast1: arn:aws:acm:us-east-1:537124944731:certificate/b0322e50-f75b-4fa3-ac65-4a42ac2380d3
      CertificateWildcardArnV1UsEast1: arn:aws:acm:us-east-1:537124944731:certificate/c1f3daa3-fa88-4cb2-b3cc-0d5ca43d8d80
      dnsSuffix: crs.dev.account.gov.uk
      LambdaLogLevel: DEBUG
    build:
      CertificateArnV1UsEast1: arn:aws:acm:us-east-1:881490088364:certificate/e913c6e7-1b41-4d5a-8731-6f026ea12b62
      dnsSuffix: crs.build.account.gov.uk
      LambdaLogLevel: INFO
    staging:
      CertificateArnV1UsEast1: arn:aws:acm:us-east-1:253490791635:certificate/2a8b32c4-9893-476b-a57f-881029f00db0
      dnsSuffix: crs.staging.account.gov.uk
      LambdaLogLevel: INFO
    integration:
      CertificateArnV1UsEast1: PLACEHOLDER
      dnsSuffix: crs.integration.account.gov.uk
      LambdaLogLevel: INFO
    production:
      CertificateArnV1UsEast1: PLACEHOLDER
      dnsSuffix: crs.account.gov.uk
      LambdaLogLevel: INFO

  EnvironmentConfiguration:
    dev:
      dynatraceSecretArn: arn:aws:secretsmanager:eu-west-2:216552277552:secret:DynatraceNonProductionVariables
    build:
      dynatraceSecretArn: arn:aws:secretsmanager:eu-west-2:216552277552:secret:DynatraceNonProductionVariables
    staging:
      dynatraceSecretArn: arn:aws:secretsmanager:eu-west-2:216552277552:secret:DynatraceNonProductionVariables
    integration:
      dynatraceSecretArn: arn:aws:secretsmanager:eu-west-2:216552277552:secret:DynatraceNonProductionVariables
    production:
      dynatraceSecretArn: arn:aws:secretsmanager:eu-west-2:216552277552:secret:DynatraceProductionVariables

  AccountAccess:
    dev:
      AccountId: arn:aws:iam::537124944731:root
    build:
      AccountId: arn:aws:iam::881490088364:root
    integration:
      AccountId: arn:aws:iam::605134474558:root
    production:
      AccountId: arn:aws:iam::528757826809:root
    staging:
      AccountId: arn:aws:iam::253490791635:root

  CslsConfiguration:
    build:
      CSLSEGRESS: arn:aws:logs:eu-west-2:885513274347:destination:csls_cw_logs_destination_prodpython-2
    integration:
      CSLSEGRESS: arn:aws:logs:eu-west-2:885513274347:destination:csls_cw_logs_destination_prodpython-2
    production:
      CSLSEGRESS: arn:aws:logs:eu-west-2:885513274347:destination:csls_cw_logs_destination_prodpython-2
    staging:
      CSLSEGRESS: arn:aws:logs:eu-west-2:885513274347:destination:csls_cw_logs_destination_prodpython-2

  KMS:
    dev:
      PendingDeletionInDays: 7
    build:
      PendingDeletionInDays: 30
    integration:
      PendingDeletionInDays: 30
    production:
      PendingDeletionInDays: 30
    staging:
      PendingDeletionInDays: 30

  LogRetention:
    dev:
      RetentionPeriod: 30
    build:
      RetentionPeriod: 30
    staging:
      RetentionPeriod: 30
    integration:
      RetentionPeriod: 30
    production:
      RetentionPeriod: 30

  PrivateApigw:
    dev:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    build:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    staging:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    integration:
      ApiBurstLimit: 0
      ApiRateLimit: 0
    production:
      ApiBurstLimit: 0
      ApiRateLimit: 0
  
  ProxyApigw:
    dev:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    build:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    staging:
      ApiBurstLimit: 10
      ApiRateLimit: 10
    integration:
      ApiBurstLimit: 0
      ApiRateLimit: 0
    production:
      ApiBurstLimit: 0
      ApiRateLimit: 0
  
  DNS:
    build:
      BaseDns: crs.build.account.gov.uk
    dev:
      BaseDns: crs.dev.account.gov.uk
    integration:
      BaseDns: crs.integration.account.gov.uk
    production:
      BaseDns: crs.account.gov.uk
    staging:
      BaseDns: crs.staging.account.gov.uk

  StaticVariables:
    urls:
      WarningAlarmsRunbook: https://govukverify.atlassian.net/wiki/spaces/DCMAW/pages/5435195529/Alarm+Runbook+Warnings+-+In+Progress

Conditions:
  DeployAlarms: !Or
    - !Not
      - !Equals
        - !Ref Environment
        - dev
    - !Equals
      - !Ref DeployAlarmsInDev
      - true
  
  DeployProxyAlarms: !And
    - !Condition DeployAlarms
    - !Condition ProxyApiDeployment
  
  ProxyApiDeployment: !Or
    - !Equals
      - !Ref Environment
      - dev
    - !Equals
      - !Ref Environment
      - build

  IsDevEnvironment: !Equals
    - !Ref Environment
    - dev
  
  DevelopmentStack: !And
    - !Equals
      - !Ref Environment
      - dev
    - !Not
      - !Equals
        - !Ref AWS::StackName
        - crs-backend

  UsePermissionsBoundary: !Not
    - !Equals
      - !Ref PermissionsBoundary
      - none

  UseCodeSigning: !Not
    - !Equals
      - !Ref CodeSigningConfigArn
      - none

  StackNameIsCrsBackend: !Equals
    - !Ref AWS::StackName
    - crs-backend

  IsProdLikeEnvironment: !Or
    - !Equals
      - !Ref Environment
      - build
    - !Equals
      - !Ref Environment
      - staging
    - !Equals
      - !Ref Environment
      - integration
    - !Equals
      - !Ref Environment
      - production

  DeployMetricFilters: !Or
    - !Condition IsProdLikeEnvironment
    - !Equals
      - !Ref DeployMetricFiltersInNonProdLikeEnvironment
      - true

  UseCanaryDeployment: !And
    - !Condition DeployAlarms
    - !Not
      - !Equals
        - !Ref LambdaDeploymentPreference
        - AllAtOnce

Transform: AWS::Serverless-2016-10-31

Globals:
  Function:
    AutoPublishAlias: live
    CodeSigningConfigArn: !If
      - UseCodeSigning
      - !Ref CodeSigningConfigArn
      - !Ref AWS::NoValue
    DeploymentPreference:
      Enabled: false
      Role: !GetAtt CodeDeployServiceRole.Arn
    MemorySize: 512
    PermissionsBoundary: !If
      - UsePermissionsBoundary
      - !Ref PermissionsBoundary
      - !Ref AWS::NoValue
    Runtime: nodejs22.x
    Timeout: 30 # 30 seconds default timeout for all Lambda functions
    LoggingConfig:
      ApplicationLogLevel: !FindInMap
        - EnvironmentVariables
        - !Ref Environment
        - LambdaLogLevel
      SystemLogLevel: !FindInMap
        - EnvironmentVariables
        - !Ref Environment
        - LambdaLogLevel
      LogFormat: JSON
    Environment:
      Variables:
        AWS_LAMBDA_EXEC_WRAPPER: /opt/dynatrace
        DT_CONNECTION_AUTH_TOKEN: !Sub
          - '{{resolve:secretsmanager:${SecretArn}:SecretString:DT_CONNECTION_AUTH_TOKEN}}'
          - SecretArn: !FindInMap
              - EnvironmentConfiguration
              - !Ref Environment
              - dynatraceSecretArn
        DT_CONNECTION_BASE_URL: !Sub
          - '{{resolve:secretsmanager:${SecretArn}:SecretString:DT_CONNECTION_BASE_URL}}'
          - SecretArn: !FindInMap
              - EnvironmentConfiguration
              - !Ref Environment
              - dynatraceSecretArn
        DT_CLUSTER_ID: !Sub
          - '{{resolve:secretsmanager:${SecretArn}:SecretString:DT_CLUSTER_ID}}'
          - SecretArn: !FindInMap
              - EnvironmentConfiguration
              - !Ref Environment
              - dynatraceSecretArn
        DT_LOG_COLLECTION_AUTH_TOKEN: !Sub
          - '{{resolve:secretsmanager:${SecretArn}:SecretString:DT_LOG_COLLECTION_AUTH_TOKEN}}'
          - SecretArn: !FindInMap
              - EnvironmentConfiguration
              - !Ref Environment
              - dynatraceSecretArn
        DT_TENANT: !Sub
          - '{{resolve:secretsmanager:${SecretArn}:SecretString:DT_TENANT}}'
          - SecretArn: !FindInMap
              - EnvironmentConfiguration
              - !Ref Environment
              - dynatraceSecretArn
        DT_OPEN_TELEMETRY_ENABLE_INTEGRATION: "true"
    Layers:
      - !Sub
        - '{{resolve:secretsmanager:${SecretArn}:SecretString:NODEJS_LAYER}}'
        - SecretArn: !FindInMap
            - EnvironmentConfiguration
            - !Ref Environment
            - dynatraceSecretArn

Resources:
  CodeDeployServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Statement:
          - Action:
              - sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - codedeploy.amazonaws.com
        Version: "2012-10-17"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSCodeDeployRoleForLambda
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  Linear20PercentEvery1Minute:
    Type: AWS::CodeDeploy::DeploymentConfig
    Properties:
      ComputePlatform: Lambda
      DeploymentConfigName: !Sub ${AWS::StackName}-Linear20PercentEvery1Minute
      TrafficRoutingConfig:
        TimeBasedLinear:
          LinearInterval: 1
          LinearPercentage: 20
        Type: TimeBasedLinear

  # Status List DynamoDB Table
  StatusListTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !If
        - IsDevEnvironment
        - !Sub ${AWS::StackName}-StatusListTable
        - StatusListTable
      AttributeDefinitions:
        - AttributeName: uri
          AttributeType: S
        - AttributeName: idx
          AttributeType: N
      KeySchema:
        - AttributeName: uri
          KeyType: HASH
        - AttributeName: idx
          KeyType: RANGE
      PointInTimeRecoverySpecification:
        PointInTimeRecoveryEnabled: true
        RecoveryPeriodInDays: 7
      BillingMode: PAY_PER_REQUEST
      StreamSpecification:
        StreamViewType: KEYS_ONLY
      Tags:
        - Key: BackupFrequency
          Value: Bihourly

          # IssueStatusListEntry Lambda
  IssueStatusListEntryFunction:
    Type: AWS::Serverless::Function
    DependsOn:
      - IssueStatusListEntryLogGroup
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: es2022
        EntryPoints:
          - src/functions/issueStatusListEntryHandler.ts
    Properties:
      DeploymentPreference:
        Alarms: !If
          - UseCanaryDeployment
          - - !Ref IssueStatusListEntryErrorsWarningAlarm
            - !Ref IssueStatusListEntryLowCompletionAlarm
          - - !Ref AWS::NoValue
        Enabled: true
        Type: !Ref LambdaDeploymentPreference

      #APIGw integration
      Events:
        IssueIndex:
          Type: Api
          Properties:
            Path: /issue
            Method: post
            RestApiId: !Ref PrivateApi
      FunctionName: !Sub ${AWS::StackName}-issue-status-list-entry
      Handler: src/functions/issueStatusListEntryHandler.handler
      Role: !GetAtt IssueStatusListEntryFunctionLambdaRole.Arn
      Environment:
        Variables:
          POWERTOOLS_SERVICE_NAME: IssueStatusListEntry
          CLIENT_REGISTRY_BUCKET: !Ref ClientRegistryBucket
          CLIENT_REGISTRY_FILE_KEY: mockClientRegistry.json #remove "mock" when using the real file
          TXMA_QUEUE_URL: !Ref TxMASQSQueue
          BITSTRING_QUEUE_URL: !Ref BitstringAvailableSlotsSQS
          TOKEN_STATUS_QUEUE_URL: !Ref TokenStatusAvailableSlotsSQS
          STATUS_LIST_TABLE: !Ref StatusListTable
      VpcConfig:
        SecurityGroupIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-AWSServicesEndpointSecurityGroupId
        SubnetIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdA
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdB
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdC

  IssueStatusListEntryFunctionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-issue-status-list-entry-lambda-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: IssueStatusListEntryFunctionLoggingPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: arn:aws:logs:*:*:*
        - PolicyName: VpcPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ec2:DescribeNetworkInterfaces
                  - ec2:CreateNetworkInterface
                  - ec2:DeleteNetworkInterface
                Resource: '*'
        - PolicyName: S3BucketReadAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource: !Sub arn:aws:s3:::${AWS::StackName}-${Environment}-client-registry/*
        - PolicyName: DBReadAndWriteAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                Resource:
                  - !GetAtt StatusListTable.Arn
        - PolicyName: IssueStatusListEntryFunctionSQSPolicy
          PolicyDocument:
            Statement:
              - Action:
                  - sqs:SendMessage
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                Effect: Allow
                Resource:
                  - !GetAtt TxMASQSQueue.Arn
                  - !GetAtt BitstringAvailableSlotsSQS.Arn
                  - !GetAtt TokenStatusAvailableSlotsSQS.Arn
              - Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Effect: Allow
                Resource:
                  - !GetAtt TxMAKMSEncryptionKey.Arn
                  - !GetAtt BitstringAvailableSlotsEncryptionKey.Arn
                  - !GetAtt TokenStatusAvailableSlotsEncryptionKey.Arn
            Version: "2012-10-17"
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  IssueStatusListEntryLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-issue-status-list-entry
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

  IssueStatusListEntryMessageCodeMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '{ ($.messageCode = *) }'
      LogGroupName: !Ref IssueStatusListEntryLogGroup
      MetricTransformations:
        - Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
          MetricName: IssueStatusListEntryLogMessageCode
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricValue: "1"
    Condition: DeployMetricFilters

  CSLSIssueStatusListEntryFunctionSubscriptionFilter:
    Type: AWS::Logs::SubscriptionFilter
    Properties:
      DestinationArn: !FindInMap
        - CslsConfiguration
        - !Ref Environment
        - CSLSEGRESS
      FilterPattern: ""
      LogGroupName: !Ref IssueStatusListEntryLogGroup
    Condition: IsProdLikeEnvironment

  IssueStatusListEntryErrorsWarningAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 'The number of Issue Status List Entry Lambda errors is greater than or equal to 10% for the latest function version. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-issue-status-list-entry-error-rate
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      Threshold: 10
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaInvocations
          Label: Sum of invocations for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Invocations
              Dimensions:
                - Name: Resource
                  Value: !Sub ${IssueStatusListEntryFunction}:live
                - Name: FunctionName
                  Value: !Ref IssueStatusListEntryFunction
                - Name: ExecutedVersion
                  Value: !GetAtt IssueStatusListEntryFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrors
          Label: Sum of function errors for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Errors
              Dimensions:
                - Name: Resource
                  Value: !Sub ${IssueStatusListEntryFunction}:live
                - Name: FunctionName
                  Value: !Ref IssueStatusListEntryFunction
                - Name: ExecutedVersion
                  Value: !GetAtt IssueStatusListEntryFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrorPercentage
          Label: Percentage of invocations that result in a function error
          ReturnData: false
          Expression: (lambdaErrors/lambdaInvocations)*100
        - Id: lambdaErrorRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaInvocations >= 5,lambdaErrorPercentage)
    Condition: DeployAlarms

  IssueStatusListEntryCompletionMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref IssueStatusListEntryLogGroup
      FilterPattern: '{ ($.messageCode = *) && ($.functionVersion = *) }'
      MetricTransformations:
        - MetricValue: "1"
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricName: IssueStatusListEntryLogMessageCode
          Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
    Condition: DeployAlarms

  IssueStatusListEntryLowCompletionAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn:
      - IssueStatusListEntryCompletionMetricFilter
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      InsufficientDataActions: []
      AlarmDescription: A large proportion of Issue Status List Entry  requests have not completed successfully.
      AlarmName: !Sub ${AWS::StackName}-issue-status-list-entry-lambda-low-completion
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 80
      ComparisonOperator: LessThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaLogStarted
          Label: Sum of ISSUE_STATUS_LIST_ENTRY_LAMBDA_STARTED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: IssueStatusListEntryLogMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: ISSUE_STATUS_LIST_ENTRY_LAMBDA_STARTED
                - Name: Version
                  Value: !GetAtt IssueStatusListEntryFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompleted
          Label: Sum of ISSUE_STATUS_LIST_ENTRY_LAMBDA_COMPLETED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: IssueStatusListEntryLogMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: ISSUE_STATUS_LIST_ENTRY_LAMBDA_COMPLETED
                - Name: Version
                  Value: !GetAtt IssueStatusListEntryFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompletePercentage
          Label: Percentage of invocations that complete successfully
          ReturnData: false
          Expression: (lambdaLogCompleted/lambdaLogStarted)*100
        - Id: lowCompletionRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaLogStarted>= 5, lambdaLogCompletePercentage)
    Condition: DeployAlarms

    # Find Available Slots Lambda
  FindAvailableSlotsFunction:
    Type: AWS::Serverless::Function
    DependsOn:
      - FindAvailableSlotsLogGroup
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: es2022
        EntryPoints:
          - src/functions/findAvailableSlotsHandler.ts
    Properties:
      DeploymentPreference:
        Alarms: !If
          - UseCanaryDeployment
          - - !Ref FindAvailableSlotsErrorsWarningAlarm
            - !Ref FindAvailableSlotsLowCompletionAlarm
          - - !Ref AWS::NoValue
        Enabled: true
        Type: !Ref LambdaDeploymentPreference
      FunctionName: !Sub ${AWS::StackName}-find-available-slots
      Handler: src/functions/findAvailableSlotsHandler.handler
      Timeout: 900 # 15 minutes
      Policies:
        - AWSLambdaBasicExecutionRole
        - AWSLambdaVPCAccessExecutionRole

        # S3 read access policy
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - s3:GetObject
              Resource: !Sub arn:aws:s3:::${AWS::StackName}-${Environment}-list-configuration/*

        # SQS send message permissions
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - sqs:SendMessage
                - sqs:GetQueueAttributes
              Resource:
                - !GetAtt BitstringAvailableSlotsSQS.Arn
                - !GetAtt TokenStatusAvailableSlotsSQS.Arn

        # KMS permissions for queue encryption
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - kms:GenerateDataKey
                - kms:Decrypt
              Resource:
                - !GetAtt BitstringAvailableSlotsEncryptionKey.Arn
                - !GetAtt TokenStatusAvailableSlotsEncryptionKey.Arn
      Environment:
        Variables:
          BITSTRING_QUEUE_URL: !Ref BitstringAvailableSlotsSQS
          TOKEN_STATUS_QUEUE_URL: !Ref TokenStatusAvailableSlotsSQS
          LIST_CONFIGURATION_BUCKET: !Ref ListConfigurationBucket
          CONFIGURATION_FILE_KEY: mockListConfiguration.json #remove "mock" when using the real file
          TARGET_QUEUE_DEPTH: "10000"
          POWERTOOLS_SERVICE_NAME: FindAvailableSlots
      Events:
        ScheduledEvent:
          Type: Schedule
          Properties:
            Schedule: rate(8 hours) #change to 7 days when going live
      VpcConfig:
        SecurityGroupIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-AWSServicesEndpointSecurityGroupId
        SubnetIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-PrivateSubnetIdA
          - !ImportValue
            Fn::Sub: ${VpcStackName}-PrivateSubnetIdB
          - !ImportValue
            Fn::Sub: ${VpcStackName}-PrivateSubnetIdC
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  FindAvailableSlotsErrorsWarningAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 'The number of Find Available Slots Lambda errors is greater than or equal to 1% for the latest function version. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-find-available-slots-error-rate
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      Threshold: 1
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaInvocations
          Label: Sum of invocations for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Invocations
              Dimensions:
                - Name: Resource
                  Value: !Sub ${FindAvailableSlotsFunction}:live
                - Name: FunctionName
                  Value: !Ref FindAvailableSlotsFunction
                - Name: ExecutedVersion
                  Value: !GetAtt FindAvailableSlotsFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrors
          Label: Sum of function errors for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Errors
              Dimensions:
                - Name: Resource
                  Value: !Sub ${FindAvailableSlotsFunction}:live
                - Name: FunctionName
                  Value: !Ref FindAvailableSlotsFunction
                - Name: ExecutedVersion
                  Value: !GetAtt FindAvailableSlotsFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrorPercentage
          Label: Percentage of invocations that result in a function error
          ReturnData: false
          Expression: (lambdaErrors/lambdaInvocations)*100
        - Id: lambdaErrorRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaInvocations >= 5,lambdaErrorPercentage)
    Condition: DeployAlarms

  FindAvailableSlotsCompletionMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref FindAvailableSlotsLogGroup
      FilterPattern: '{ ($.messageCode = *) && ($.functionVersion = *) }'
      MetricTransformations:
        - MetricValue: "1"
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricName: FindAvailableSlotsMessageCode
          Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
    Condition: DeployAlarms

  FindAvailableSlotsLowCompletionAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn:
      - FindAvailableSlotsCompletionMetricFilter
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      InsufficientDataActions: []
      AlarmDescription: A large proportion of Find Available Slots requests have not completed successfully.
      AlarmName: !Sub ${AWS::StackName}-find-available-slots-lambda-low-completion
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 80
      ComparisonOperator: LessThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaLogStarted
          Label: Sum of FIND_AVAILABLE_SLOTS_LAMBDA_STARTED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: FindAvailableSlotsMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: FIND_AVAILABLE_SLOTS_LAMBDA_STARTED
                - Name: Version
                  Value: !GetAtt FindAvailableSlotsFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompleted
          Label: Sum of FIND_AVAILABLE_SLOTS_LAMBDA_COMPLETED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: FindAvailableSlotsMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: FIND_AVAILABLE_SLOTS_LAMBDA_COMPLETED
                - Name: Version
                  Value: !GetAtt FindAvailableSlotsFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompletePercentage
          Label: Percentage of invocations that complete successfully
          ReturnData: false
          Expression: (lambdaLogCompleted/lambdaLogStarted)*100
        - Id: lowCompletionRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaLogStarted>= 5, lambdaLogCompletePercentage)
    Condition: DeployAlarms

  # Revoke Lambda
  RevokeFunction:
    Type: AWS::Serverless::Function
    DependsOn:
      - RevokeLogGroup
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: es2022
        EntryPoints:
          - src/functions/revokeHandler.ts
    Properties:
      DeploymentPreference:
        Alarms: !If
          - UseCanaryDeployment
          - - !Ref RevokeErrorsWarningAlarm
            - !Ref RevokeLowCompletionAlarm
          - - !Ref AWS::NoValue
        Enabled: true
        Type: !Ref LambdaDeploymentPreference

      #APIGw integration
      Events:
        IssueIndex:
          Type: Api
          Properties:
            Path: /revoke
            Method: post
            RestApiId: !Ref PrivateApi
      FunctionName: !Sub ${AWS::StackName}-revoke
      Handler: src/functions/revokeHandler.handler
      Role: !GetAtt RevokeFunctionLambdaRole.Arn
      VpcConfig:
        SecurityGroupIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-AWSServicesEndpointSecurityGroupId
        SubnetIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdA
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdB
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdC
      Environment:
        Variables:
          POWERTOOLS_SERVICE_NAME: Revoke
          CLIENT_REGISTRY_BUCKET: !Ref ClientRegistryBucket
          CLIENT_REGISTRY_FILE_KEY: mockClientRegistry.json #remove "mock" when using the real file
          TXMA_QUEUE_URL: !Ref TxMASQSQueue
          STATUS_LIST_TABLE: !Ref StatusListTable

  RevokeFunctionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-revoke-lambda-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: RevokeFunctionLoggingPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt RevokeLogGroup.Arn
        - PolicyName: S3BucketReadAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:ListBucket
                Resource: !Sub arn:aws:s3:::${AWS::StackName}-${Environment}-client-registry/*
        - PolicyName: RevokeFunctionSQSPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Action:
                  - sqs:SendMessage
                Effect: Allow
                Resource:
                  - !GetAtt TxMASQSQueue.Arn
              - Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Effect: Allow
                Resource:
                  - !GetAtt TxMAKMSEncryptionKey.Arn
        - PolicyName: DynamoDBReadOnly
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:BatchGetItem
                  - dynamodb:DescribeTable
                  - dynamodb:GetItem
                  - dynamodb:Query
                  - dynamodb:Scan
                Resource: !GetAtt StatusListTable.Arn
        - PolicyName: DynamoDBReadWrite
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:UpdateItem
                Resource: !GetAtt StatusListTable.Arn
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  RevokeLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-revoke
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

  RevokeVersionMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      FilterPattern: '{ ($.messageCode = *) && ($.functionVersion = *) }'
      LogGroupName: !Ref RevokeLogGroup
      MetricTransformations:
        - Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
          MetricName: RevokeMessageCode
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricValue: "1"
    Condition: DeployMetricFilters

  CSLSRevokeFunctionSubscriptionFilter:
    Type: AWS::Logs::SubscriptionFilter
    Properties:
      DestinationArn: !FindInMap
        - CslsConfiguration
        - !Ref Environment
        - CSLSEGRESS
      FilterPattern: ""
      LogGroupName: !Ref RevokeLogGroup
    Condition: IsProdLikeEnvironment

  CSLSRevokeFunctionAccessSubscriptionFilter:
    Type: AWS::Logs::SubscriptionFilter
    Properties:
      DestinationArn: !FindInMap
        - CslsConfiguration
        - !Ref Environment
        - CSLSEGRESS
      FilterPattern: ""
      LogGroupName: !Ref RevokeLogGroup
    Condition: IsProdLikeEnvironment

    # Revoke Alarms
  Revoke4XXHighThresholdAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - '80% or more of requests are failing on the /revoke endpoint with a 4XX error. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-high-threshold-revoke-4xx-api-gw
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 2
      EvaluationPeriods: 5
      Metrics:
        - Expression: IF(invocations>=10,errorPercentage4XX)
          Id: errorThreshold
          Label: errorThreshold
          ReturnData: true
        - Id: invocations
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: Count
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Id: errorSum4XX
          Label: Number of 4XX errors
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: 4XXError
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Expression: (errorSum4XX/invocations) * 100
          Id: errorPercentage4XX
          Label: Number of 4XX errors returned as a percentage
          ReturnData: false
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 80
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  Revoke4XXLowThresholdAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - '1% or more of requests are failing on the /revoke endpoint with a 4XX error. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-low-threshold-revoke-4xx-api-gw
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 2
      EvaluationPeriods: 5
      Metrics:
        - Expression: IF((invocations>=4) && (errorSum4XX>=2),errorPercentage4XX)
          Id: errorThreshold
          Label: errorThreshold
          ReturnData: true
        - Id: invocations
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: Count
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Id: errorSum4XX
          Label: Number of 4XX errors
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: 4XXError
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Expression: (errorSum4XX/invocations) * 100
          Id: errorPercentage4XX
          Label: Number of 4XX errors returned as a percentage
          ReturnData: false
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 1
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  Revoke5XXHighThresholdAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - '80% or more of requests are failing on the /revoke endpoint with a 5XX error. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-high-threshold-revoke-5xx-api-gw
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 2
      EvaluationPeriods: 5
      Metrics:
        - Expression: IF(invocations>=10,errorPercentage5XX)
          Id: errorThreshold
          Label: errorThreshold
          ReturnData: true
        - Id: invocations
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: Count
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Id: errorSum5XX
          Label: Number of 5XX errors
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: 5XXError
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Expression: (errorSum5XX/invocations) * 100
          Id: errorPercentage5XX
          Label: Number of 5XX errors returned as a percentage
          ReturnData: false
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 80
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  Revoke5XXLowThresholdAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - '1% or more of requests are failing on the /revoke endpoint with a 5XX error. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-low-threshold-revoke-5xx-api-gw
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 2
      EvaluationPeriods: 5
      Metrics:
        - Expression: IF((invocations>=4) && (errorSum5XX>=2),errorPercentage5XX)
          Id: errorThreshold
          Label: errorThreshold
          ReturnData: true
        - Id: invocations
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: Count
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Id: errorSum5XX
          Label: Number of 5XX errors
          MetricStat:
            Metric:
              Dimensions:
                - Name: Method
                  Value: POST
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
                - Name: Stage
                  Value: !Ref Environment
                - Name: Resource
                  Value: /revoke
              MetricName: 5XXError
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Expression: (errorSum5XX/invocations) * 100
          Id: errorPercentage5XX
          Label: Number of 5XX errors returned as a percentage
          ReturnData: false
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 1
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  ApiGatewayLatencyAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - There is increased latency on the API Gateway. ${WarningAlarmsRunbookURL}"
        - WarningAlarmsRunbookURL: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-api-gateway-latency
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 2
      EvaluationPeriods: 5
      Metrics:
        - Id: m1
          Label: Sum of requests sent to the API Gateway
          MetricStat:
            Metric:
              Dimensions:
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
              MetricName: Count
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Sum
          ReturnData: false
        - Id: m2
          Label: Maximum latency
          MetricStat:
            Metric:
              Dimensions:
                - Name: ApiName
                  Value: !Sub ${AWS::StackName}-private-api
              MetricName: Latency
              Namespace: AWS/ApiGateway
            Period: 60
            Stat: Maximum
          ReturnData: false
        - Expression: IF(m1 >= 10, m2, 0)
          Id: m3
          Label: Latency threshold calculation
          ReturnData: false
        - Expression: FILL(m3, 0)
          Id: m4
          Label: Latency threshold with missing data points filled
          ReturnData: true
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 1
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  RevokeConcurrencyAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 80% of the reserved concurrency for the Revoke Lambda has been used. ${WarningAlarmsRunbookURL}
        - WarningAlarmsRunbookURL: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-revoke-concurrency
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 1
      Dimensions:
        - Name: FunctionName
          Value: !Ref RevokeFunction
      EvaluationPeriods: 1
      MetricName: ConcurrentExecutions
      Namespace: AWS/Lambda
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Period: 60
      Statistic: Maximum
      Threshold: 64
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  RevokeThroughputAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 60% of the Revoke Lambda capacity has been used. ${WarningAlarmsRunbookURL}
        - WarningAlarmsRunbookURL: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-revoke-throughput
      ComparisonOperator: GreaterThanOrEqualToThreshold
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      Metrics:
        - Id: e1
          MetricStat:
            Metric:
              Dimensions:
                - Name: FunctionName
                  Value: !Ref RevokeFunction
              MetricName: ConcurrentExecutions
              Namespace: AWS/Lambda
            Period: 60
            Stat: Maximum
          ReturnData: false
        - Id: e2
          MetricStat:
            Metric:
              Dimensions:
                - Name: FunctionName
                  Value: !Ref RevokeFunction
              MetricName: UnreservedConcurrentExecutions
              Namespace: AWS/Lambda
            Period: 60
            Stat: Maximum
          ReturnData: false
        - Expression: e1 / e2 * 100
          Id: e3
          Label: Throughput Percentage
          ReturnData: true
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      Threshold: 60
      TreatMissingData: notBreaching
    Condition: DeployAlarms

  RevokeErrorsWarningAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 'The number of Revoke Lambda errors is greater than or equal to 10% for the latest function version. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-revoke-error-rate
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      Threshold: 10
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaInvocations
          Label: Sum of invocations for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Invocations
              Dimensions:
                - Name: Resource
                  Value: !Sub ${RevokeFunction}:live
                - Name: FunctionName
                  Value: !Ref RevokeFunction
                - Name: ExecutedVersion
                  Value: !GetAtt RevokeFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrors
          Label: Sum of function errors for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Errors
              Dimensions:
                - Name: Resource
                  Value: !Sub ${RevokeFunction}:live
                - Name: FunctionName
                  Value: !Ref RevokeFunction
                - Name: ExecutedVersion
                  Value: !GetAtt RevokeFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrorPercentage
          Label: Percentage of invocations that result in a function error
          ReturnData: false
          Expression: (lambdaErrors/lambdaInvocations)*100
        - Id: lambdaErrorRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaInvocations >= 5,lambdaErrorPercentage)
    Condition: DeployAlarms

  RevokeCompletionMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref RevokeLogGroup
      FilterPattern: '{ ($.messageCode = *) && ($.functionVersion = *) }'
      MetricTransformations:
        - MetricValue: "1"
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricName: RevokeMessageCode
          Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
    Condition: DeployAlarms

  RevokeLowCompletionAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn:
      - RevokeCompletionMetricFilter
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      InsufficientDataActions: []
      AlarmDescription: A large proportion of Revoke requests have not completed successfully.
      AlarmName: !Sub ${AWS::StackName}-revoke-lambda-low-completion
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 80
      ComparisonOperator: LessThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaLogStarted
          Label: Sum of REVOKE_LAMBDA_STARTED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: RevokeMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: REVOKE_LAMBDA_STARTED
                - Name: Version
                  Value: !GetAtt RevokeFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompleted
          Label: Sum of REVOKE_LAMBDA_COMPLETED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: RevokeMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: REVOKE_LAMBDA_COMPLETED
                - Name: Version
                  Value: !GetAtt RevokeFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompletePercentage
          Label: Percentage of invocations that complete successfully
          ReturnData: false
          Expression: (lambdaLogCompleted/lambdaLogStarted)*100
        - Id: lowCompletionRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaLogStarted>= 5, lambdaLogCompletePercentage)
    Condition: DeployAlarms

  AlarmWarningSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: !Sub ${AWS::StackName}-warning
      KmsMasterKeyId: !Ref AlarmSNSTopicKey
      FifoTopic: false
      Tags:
        - Key: Environment
          Value: !Ref Environment
      TopicName: !Sub ${AWS::StackName}-warning

  AlarmWarningSNSTopicPolicy:
    Type: AWS::SNS::TopicPolicy
    Properties:
      Topics:
        - !Ref AlarmWarningSNSTopic
      PolicyDocument:
        Statement:
          - Action: sns:Publish
            Effect: Allow
            Resource: !Ref AlarmWarningSNSTopic
            Principal:
              Service: cloudwatch.amazonaws.com

  AlarmSNSTopicKey:
    Type: AWS::KMS::Key
    Properties:
      EnableKeyRotation: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Sid: Allow Cloudwatch to enqueue encrypted messages
            Effect: Allow
            Resource: '*'
            Action:
              - kms:Decrypt
              - kms:GenerateDataKey
            Principal:
              Service: cloudwatch.amazonaws.com
          - Sid: Allow the account to manage the key
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: '*'
      Tags:
        - Key: Name
          Value: !Sub ${AWS::StackName}-topics
        - Key: Environment
          Value: !Ref Environment

  # Status List Publisher Lambda
  StatusListPublisherFunction:
    Type: AWS::Serverless::Function
    DependsOn:
      - StatusListPublisherLogGroup
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: es2022
        EntryPoints:
          - src/functions/statusListPublisherHandler.ts
    Properties:
      DeploymentPreference:
        Alarms: !If
          - UseCanaryDeployment
          - - !Ref StatusListPublisherErrorsWarningAlarm
            - !Ref StatusListPublisherLowCompletionAlarm
          - - !Ref AWS::NoValue
        Enabled: true
        Type: !Ref LambdaDeploymentPreference
      FunctionName: !Sub ${AWS::StackName}-status-list-publisher
      Handler: src/functions/statusListPublisherHandler.handler
      Role: !GetAtt StatusListPublisherFunctionLambdaRole.Arn
      Environment:
        Variables:
          KMS_SIGNING_KEY_ARN: !Ref StatusListPublisherKMSKey
          POWERTOOLS_SERVICE_NAME: StatusListPublisher
          STATUS_LIST_TABLE: !Ref StatusListTable
          STATUS_LIST_BUCKET: !Ref StatusListBucket
      VpcConfig:
        SecurityGroupIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-AWSServicesEndpointSecurityGroupId
        SubnetIds:
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdA
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdB
          - !ImportValue
            Fn::Sub: ${VpcStackName}-ProtectedSubnetIdC

  StatusListPublisherSourceMapping:
    Type: AWS::Lambda::EventSourceMapping
    Properties:
      EventSourceArn: !GetAtt StatusChangeQueue.Arn
      FunctionName: !Ref StatusListPublisherFunction
      BatchSize: 10 # Adjust batch size as needed
      FunctionResponseTypes:
        - ReportBatchItemFailures
      Enabled: true

  StatusListPublisherFunctionLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${AWS::StackName}-status-list-publisher-lambda-role
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaSQSQueueExecutionRole
      Policies:
        - PolicyName: KmsSigningPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - kms:Sign
                  - kms:GetPublicKey
                Resource: !GetAtt StatusListPublisherKMSKey.Arn
        - PolicyName: S3ReadWrite
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                Resource: !Sub arn:aws:s3:::${AWS::StackName}-${Environment}-status-list/*
        - PolicyName: StatusListPublisherFunctionLoggingPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !GetAtt StatusListPublisherLogGroup.Arn
        - PolicyName: StatusListPublisherFunctionSQSPolicy
          PolicyDocument:
            Statement:
              - Action:
                  - sqs:SendMessage
                  - sqs:ReceiveMessage
                  - sqs:DeleteMessage
                  - sqs:GetQueueAttributes
                  - sqs:ChangeMessageVisibility
                Effect: Allow
                Resource:
                  - !GetAtt StatusChangeQueue.Arn
              - Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Effect: Allow
                Resource:
                  - !GetAtt StatusChangeQueueEncryptionKey.Arn
            Version: "2012-10-17"
        - PolicyName: DynamoDBReadOnly
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:BatchGetItem
                  - dynamodb:DescribeTable
                  - dynamodb:GetItem
                  - dynamodb:Query
                  - dynamodb:Scan
                Resource: !GetAtt StatusListTable.Arn
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  StatusListPublisherLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-status-list-publisher
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

  CSLSStatusListPublisherFunctionSubscriptionFilter:
    Type: AWS::Logs::SubscriptionFilter
    Properties:
      DestinationArn: !FindInMap
        - CslsConfiguration
        - !Ref Environment
        - CSLSEGRESS
      FilterPattern: ""
      LogGroupName: !Ref StatusListPublisherLogGroup
    Condition: IsProdLikeEnvironment

    # Canary error alarm
  StatusListPublisherErrorsWarningAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      AlarmDescription: !Sub
        - 'The number of Status List Publisher Lambda errors is greater than or equal to 10% for the latest function version. See runbook: ${WarningAlarmsRunbookUrl}'
        - WarningAlarmsRunbookUrl: !FindInMap
            - StaticVariables
            - urls
            - WarningAlarmsRunbook
      AlarmName: !Sub ${AWS::StackName}-status-list-publisher-error-rate
      DatapointsToAlarm: 1
      EvaluationPeriods: 1
      Threshold: 10
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaInvocations
          Label: Sum of invocations for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Invocations
              Dimensions:
                - Name: Resource
                  Value: !Sub ${StatusListPublisherFunction}:live
                - Name: FunctionName
                  Value: !Ref StatusListPublisherFunction
                - Name: ExecutedVersion
                  Value: !GetAtt StatusListPublisherFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrors
          Label: Sum of function errors for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: AWS/Lambda
              MetricName: Errors
              Dimensions:
                - Name: Resource
                  Value: !Sub ${StatusListPublisherFunction}:live
                - Name: FunctionName
                  Value: !Ref StatusListPublisherFunction
                - Name: ExecutedVersion
                  Value: !GetAtt StatusListPublisherFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaErrorPercentage
          Label: Percentage of invocations that result in a function error
          ReturnData: false
          Expression: (lambdaErrors/lambdaInvocations)*100
        - Id: lambdaErrorRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaInvocations >= 5,lambdaErrorPercentage)
    Condition: DeployAlarms

  StatusListPublisherCompletionMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref StatusListPublisherLogGroup
      FilterPattern: '{ ($.messageCode = *) && ($.functionVersion = *) }'
      MetricTransformations:
        - MetricValue: "1"
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricName: StatusListPublisherMessageCode
          Dimensions:
            - Key: MessageCode
              Value: $.messageCode
            - Key: Version
              Value: $.functionVersion
    Condition: DeployAlarms

  StatusListPublisherLowCompletionAlarm:
    Type: AWS::CloudWatch::Alarm
    DependsOn:
      - StatusListPublisherCompletionMetricFilter
    Properties:
      ActionsEnabled: true
      AlarmActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      OKActions:
        - !Sub arn:aws:sns:${AWS::Region}:${AWS::AccountId}:platform-alarms-sns-warning
      InsufficientDataActions: []
      AlarmDescription: A large proportion of Status List Publisher requests have not completed successfully.
      AlarmName: !Sub ${AWS::StackName}-status-list-publisher-lambda-low-completion
      EvaluationPeriods: 1
      DatapointsToAlarm: 1
      Threshold: 80
      ComparisonOperator: LessThanOrEqualToThreshold
      TreatMissingData: notBreaching
      Metrics:
        - Id: lambdaLogStarted
          Label: Sum of STATUS_LIST_PUBLISHER_LAMBDA_STARTED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: StatusListPublisherMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: STATUS_LIST_PUBLISHER_LAMBDA_STARTED
                - Name: Version
                  Value: !GetAtt StatusListPublisherFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompleted
          Label: Sum of STATUS_LIST_PUBLISHER_LAMBDA_COMPLETED messageCodes for latest Lambda version
          ReturnData: false
          MetricStat:
            Metric:
              Namespace: !Sub ${AWS::StackName}/LogMessages
              MetricName: StatusListPublisherMessageCode
              Dimensions:
                - Name: MessageCode
                  Value: STATUS_LIST_PUBLISHER_LAMBDA_COMPLETED
                - Name: Version
                  Value: !GetAtt StatusListPublisherFunction.Version.Version
            Period: 60
            Stat: Sum
        - Id: lambdaLogCompletePercentage
          Label: Percentage of invocations that complete successfully
          ReturnData: false
          Expression: (lambdaLogCompleted/lambdaLogStarted)*100
        - Id: lowCompletionRateThreshold
          Label: Error threshold calculation
          ReturnData: true
          Expression: IF(lambdaLogStarted>= 5, lambdaLogCompletePercentage)
    Condition: DeployAlarms

  StatusListPublisherKMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: KMS key for signing JWTs in StatusListPublisher
      Enabled: true
      KeyUsage: SIGN_VERIFY
      KeySpec: ECC_NIST_P256
      EnableKeyRotation: false
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Action: kms:*
            Resource: '*'
      Tags:
        - Key: Purpose
          Value: StatusListPublisherJWT

  StatusListPublisherKMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-StatusListPublisherKMSKey
      TargetKeyId: !Ref StatusListPublisherKMSKey

  # API Gateway
  PrivateApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub ${AWS::StackName}-private-api
      Description: Private API gateway for Index Issuance flow
      AlwaysDeploy: true
      StageName: !Ref Environment
      OpenApiVersion: 3.0.0
      AccessLogSetting:
        DestinationArn: !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:${CrsPrivateApiAccessLogs}
        Format: '{ "requestId":"$context.requestId", "ip": "$context.identity.sourceIp", "caller":"$context.identity.caller", "user":"$context.identity.user","requestTime":"$context.requestTime", "httpMethod":"$context.httpMethod","resourcePath":"$context.resourcePath", "status":"$context.status","protocol":"$context.protocol", "responseLength":"$context.responseLength" }'
      MethodSettings:
        - LoggingLevel: INFO
          ResourcePath: /*
          HttpMethod: '*'
          DataTraceEnabled: false
          MetricsEnabled: true
          ThrottlingBurstLimit: !FindInMap
            - PrivateApigw
            - !Ref Environment
            - ApiBurstLimit
          ThrottlingRateLimit: !FindInMap
            - PrivateApigw
            - !Ref Environment
            - ApiRateLimit
      DefinitionBody:
        Fn::Transform:
          Name: AWS::Include
          Parameters:
            Location: ./openApiSpecs/crs-private-spec.yaml

  ApiGwBodyBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${Environment}-crs-private-spec
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256

  CrsPrivateApiAccessLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/apigateway/${AWS::StackName}-private-api-access-logs
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

# Proxy API Gateway
  ProxyApi:
    Type: AWS::Serverless::Api
    Properties:
      Name: !Sub ${AWS::StackName}-private-api
      Description: Public API gateway for Index Issuance flow
      # AlwaysDeploy: true
      StageName: !Ref Environment
      OpenApiVersion: 3.0.0
      AccessLogSetting:
        # DestinationArn: !Sub arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:${CrsPrivateApiAccessLogs}
        DestinationArn: !GetAtt CrsProxyApiAccessLogs.Arn
        Format: '{ "requestId":"$context.requestId", "ip": "$context.identity.sourceIp", "caller":"$context.identity.caller", "user":"$context.identity.user","requestTime":"$context.requestTime", "httpMethod":"$context.httpMethod","resourcePath":"$context.resourcePath", "status":"$context.status","protocol":"$context.protocol", "responseLength":"$context.responseLength" }'
        # In Async private and proxy accesslogs format are different
      MethodSettings:
        - LoggingLevel: INFO
          ResourcePath: /*
          HttpMethod: '*'
          DataTraceEnabled: false
          MetricsEnabled: true
          ThrottlingBurstLimit: !FindInMap
            - ProxyApigw
            - !Ref Environment
            - ApiBurstLimit
          ThrottlingRateLimit: !FindInMap
            - ProxyApigw
            - !Ref Environment
            - ApiRateLimit
      DefinitionBody:
        Fn::Transform:
          Name: AWS::Include
          Parameters:
            Location: ./openApiSpecs/crs-public-spec.yaml
  
  # Do we want to rename this and log group for private apigateway to remove Crs?
  CrsProxyApiAccessLogs:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/apigateway/${AWS::StackName}-proxy-api-access-logs
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod
  
  ProxyApiBasePathMapping:
    Type: AWS::ApiGateway::BasePathMapping
    Properties:
      DomainName: !Ref ProxyApiDomainName
      RestApiId: !Ref ProxyApi
      Stage: !Ref ProxyApi.Stage
    Condition: ProxyApiDeployment

  ProxyApiDomainName:
    Type: AWS::ApiGateway::DomainName
    Properties:
      DomainName: !If
        - DevelopmentStack
        - !Sub
          - proxy-${AWS::StackName}.${DNS_RECORD}
          - DNS_RECORD: !FindInMap
              - DNS
              - !Ref Environment
              - BaseDns
        - !Sub
          - proxy.${DNS_RECORD}
          - DNS_RECORD: !FindInMap
              - DNS
              - !Ref Environment
              - BaseDns
      EndpointConfiguration:
        Types:
          - REGIONAL
      RegionalCertificateArn: !If
        - DevelopmentStack
        - !Sub '{{resolve:ssm:/${Environment}/Platform/CRSPrimaryZoneWildcardCertificateV1ARN}}'
        - !Sub '{{resolve:ssm:/${Environment}/Platform/ACM/CRSPrimaryZoneProxyCertificateV2ARN}}'
      SecurityPolicy: TLS_1_2
    Condition: ProxyApiDeployment

  ProxyApiRecordSet:
    Type: AWS::Route53::RecordSet
    Properties:
      AliasTarget:
        DNSName: !GetAtt ProxyApiDomainName.RegionalDomainName
        HostedZoneId: !GetAtt ProxyApiDomainName.RegionalHostedZoneId
      HostedZoneId: !Sub '{{resolve:ssm:/${Environment}/Platform/Route53/PrimaryZoneID}}'
      Name: !Ref ProxyApiDomainName
      Type: A
    Condition: ProxyApiDeployment

  # Available Slots SQS Queues (Bitstring and Token Status)
  BitstringAvailableSlotsEncryptionKey:
    Type: AWS::KMS::Key
    Properties:
      Description: A KMS Key for encrypting the Bitstring Available Slots SQS Queue
      Enabled: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Action: kms:*
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Resource: '*'
      KeySpec: SYMMETRIC_DEFAULT
      KeyUsage: ENCRYPT_DECRYPT
      MultiRegion: false
      PendingWindowInDays: !FindInMap
        - KMS
        - !Ref Environment
        - PendingDeletionInDays
      Tags:
        - Key: KeyType
          Value: Encryption Key
        - Key: Environment
          Value: !Sub ${Environment}

  BitstringAvailableSlotsKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-BitstringAvailableSlotsEncryptionKey
      TargetKeyId: !Ref BitstringAvailableSlotsEncryptionKey

  BitstringAvailableSlotsSQS:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref BitstringAvailableSlotsKeyAlias
      MessageRetentionPeriod: 1209600 # 14 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt BitstringAvailableSlotsQueueDLQ.Arn
        maxReceiveCount: 10

  BitstringAvailableSlotsSQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action:
              - SQS:DeleteMessage
              - SQS:GetQueueAttributes
              - SQS:ChangeMessageVisibility
              - SQS:ReceiveMessage
            Effect: Allow
            Principal:
              AWS:
                - !FindInMap
                  - AccountAccess
                  - !Ref Environment
                  - AccountId
            Resource:
              - !GetAtt BitstringAvailableSlotsSQS.Arn
          - Action:
              - SQS:GetQueueAttributes
              - SQS:SendMessage
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Resource:
              - !GetAtt BitstringAvailableSlotsSQS.Arn
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${FindAvailableSlotsFunction}
      Queues:
        - !Ref BitstringAvailableSlotsSQS

  BitstringAvailableSlotsQueueDLQ:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref BitstringAvailableSlotsKeyAlias
      MessageRetentionPeriod: 604800 # 7 days

  TokenStatusAvailableSlotsEncryptionKey:
    Type: AWS::KMS::Key
    Properties:
      Description: A KMS Key for encrypting the Token Status Available Slots SQS Queue
      Enabled: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Action: kms:*
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Resource: '*'
      KeySpec: SYMMETRIC_DEFAULT
      KeyUsage: ENCRYPT_DECRYPT
      MultiRegion: false
      PendingWindowInDays: !FindInMap
        - KMS
        - !Ref Environment
        - PendingDeletionInDays
      Tags:
        - Key: KeyType
          Value: Encryption Key
        - Key: Environment
          Value: !Sub ${Environment}

  TokenStatusAvailableSlotsKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-TokenStatusAvailableSlotsEncryptionKey
      TargetKeyId: !Ref TokenStatusAvailableSlotsEncryptionKey

  TokenStatusAvailableSlotsSQS:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref TokenStatusAvailableSlotsKeyAlias
      MessageRetentionPeriod: 1209600 # 14 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt TokenStatusAvailableSlotsQueueDLQ.Arn
        maxReceiveCount: 10

  TokenStatusAvailableSlotsSQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action:
              - SQS:DeleteMessage
              - SQS:GetQueueAttributes
              - SQS:ChangeMessageVisibility
              - SQS:ReceiveMessage
            Effect: Allow
            Principal:
              AWS:
                - !FindInMap
                  - AccountAccess
                  - !Ref Environment
                  - AccountId
            Resource:
              - !GetAtt TokenStatusAvailableSlotsSQS.Arn
          - Action:
              - SQS:GetQueueAttributes
              - SQS:SendMessage
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Resource:
              - !GetAtt TokenStatusAvailableSlotsSQS.Arn
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${FindAvailableSlotsFunction}
      Queues:
        - !Ref TokenStatusAvailableSlotsSQS

  TokenStatusAvailableSlotsQueueDLQ:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref TokenStatusAvailableSlotsKeyAlias
      MessageRetentionPeriod: 604800 # 7 days

  # Status Change Queue (FIFO) for Publisher Service
  StatusChangeQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${AWS::StackName}-StatusChangeQueue.fifo
      FifoQueue: true
      ContentBasedDeduplication: true
      KmsMasterKeyId: !Ref StatusChangeQueueKeyAlias
      MessageRetentionPeriod: 1209600 # 14 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt StatusChangeQueueDLQ.Arn
        maxReceiveCount: 10

  StatusChangeQueueDLQ:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: !Sub ${AWS::StackName}-StatusChangeQueue-DLQ.fifo
      FifoQueue: true
      KmsMasterKeyId: !Ref StatusChangeQueueKeyAlias
      MessageRetentionPeriod: 604800 # 7 days

  StatusChangeQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Action:
              - SQS:DeleteMessage
              - SQS:GetQueueAttributes
              - SQS:ChangeMessageVisibility
              - SQS:ReceiveMessage
            Effect: Allow
            Principal:
              AWS:
                - !FindInMap
                  - AccountAccess
                  - !Ref Environment
                  - AccountId
            Resource:
              - !GetAtt StatusChangeQueue.Arn
          - Action:
              - SQS:ReceiveMessage
            Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Resource:
              - !GetAtt StatusChangeQueue.Arn
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${StatusListPublisherFunction}
      Queues:
        - !Ref StatusChangeQueue

  StatusChangeQueueEncryptionKey:
    Type: AWS::KMS::Key
    Properties:
      Description: A KMS Key for encrypting the Status Change FIFO SQS Queue
      Enabled: true
      KeyPolicy:
        Version: "2012-10-17"
        Statement:
          - Action: kms:*
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Resource: '*'
      KeySpec: SYMMETRIC_DEFAULT
      KeyUsage: ENCRYPT_DECRYPT
      MultiRegion: false
      PendingWindowInDays: !FindInMap
        - KMS
        - !Ref Environment
        - PendingDeletionInDays
      Tags:
        - Key: KeyType
          Value: Encryption Key
        - Key: Environment
          Value: !Sub ${Environment}

  StatusChangeQueueKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-StatusChangeQueueEncryptionKey
      TargetKeyId: !Ref StatusChangeQueueEncryptionKey

  #  Status List Update Event Bridge Pipe
  StatusChangeEventBridgePipeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: pipes.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StatusChangeEventBridgePipePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:DescribeStream
                  - dynamodb:GetRecords
                  - dynamodb:GetShardIterator
                  - dynamodb:ListStreams
                Resource:
                  - !GetAtt StatusListTable.StreamArn
              - Effect: Allow
                Action:
                  - sqs:SendMessage
                Resource:
                  - !GetAtt StatusChangeQueue.Arn
              - Effect: Allow
                Action:
                  - kms:GenerateDataKey
                  - kms:Encrypt
                  - kms:Decrypt
                Resource:
                  - !GetAtt StatusChangeQueueEncryptionKey.Arn
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  StatusChangeEventBridgePipeLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/vendedlogs/pipes/${AWS::StackName}-status-change
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

  StatusChangeEventBridgePipe:
    Type: AWS::Pipes::Pipe
    Properties:
      Name: !Sub ${AWS::StackName}-status-change
      RoleArn: !GetAtt StatusChangeEventBridgePipeRole.Arn
      Source: !GetAtt StatusListTable.StreamArn
      SourceParameters:
        DynamoDBStreamParameters:
          StartingPosition: TRIM_HORIZON
        FilterCriteria:
          Filters:
            - Pattern: '{ "eventName": ["MODIFY", "REMOVE"] }'
      Target: !GetAtt StatusChangeQueue.Arn
      TargetParameters:
        SqsQueueParameters:
          MessageGroupId: $.dynamodb.Keys.uri.S
      LogConfiguration:
        CloudwatchLogsLogDestination:
          LogGroupArn: !GetAtt StatusChangeEventBridgePipeLogGroup.Arn
        Level: ERROR
        IncludeExecutionData:
          - ALL

          # TxMA SQS Queue
  TxMAKMSEncryptionKey:
    Type: AWS::KMS::Key
    Properties:
      Description: A KMS Key for encrypting the SQS Queue for TxMA
      Enabled: true
      KeyPolicy:
        Statement:
          - Action:
              - kms:*
            Effect: Allow
            Principal:
              AWS: !Sub arn:aws:iam::${AWS::AccountId}:root
            Resource:
              - '*'
          - Action:
              - kms:Encrypt
              - kms:Decrypt
              - kms:GenerateDataKey
            Effect: Allow
            Principal:
              AWS: !FindInMap
                - AccountAccess
                - !Ref Environment
                - AccountId
            Resource:
              - '*'
        Version: "2012-10-17"
      KeySpec: SYMMETRIC_DEFAULT
      KeyUsage: ENCRYPT_DECRYPT
      MultiRegion: false
      PendingWindowInDays: !FindInMap
        - KMS
        - !Ref Environment
        - PendingDeletionInDays
      Tags:
        - Key: KeyType
          Value: Encryption Key
        - Key: Environment
          Value: !Sub ${Environment}

  TxMAKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub alias/${AWS::StackName}-TxMAKMSEncryptionKey
      TargetKeyId: !Ref TxMAKMSEncryptionKey

  TxMASQSQueue:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Ref TxMAKeyAlias
      MessageRetentionPeriod: 604800 # 7 days
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt TxMASQSQueueDeadLetterQueue.Arn
        maxReceiveCount: 5
      VisibilityTimeout: 60

  TxMASQSQueueDeadLetterQueue:
    Type: AWS::SQS::Queue
    Properties:
      KmsMasterKeyId: !Sub TxMAKMSEncryptionKey
      MessageRetentionPeriod: 259200 # 3 days

  TxMASQSQueuePolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Statement:
          - Action:
              - sqs:DeleteMessage
              - sqs:GetQueueAttributes
              - sqs:ChangeMessageVisibility
              - sqs:ReceiveMessage
            Effect: Allow
            Principal:
              AWS:
                - !FindInMap
                  - AccountAccess
                  - !Ref Environment
                  - AccountId
            Resource:
              - !GetAtt TxMASQSQueue.Arn
        Version: "2012-10-17"
      Queues:
        - !Ref TxMASQSQueue

        # CloudFront Distribution Set Up
  StatusListBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${Environment}-status-list
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: BackupFrequency
          Value: Bihourly

  StatusListBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref StatusListBucket
      PolicyDocument:
        Statement:
          - Sid: AllowCloudFrontServicePrincipalReadOnly
            Action:
              - s3:GetObject
              - s3:PutObject
            Resource:
              - !Sub arn:aws:s3:::${StatusListBucket}/*
            Principal:
              Service: cloudfront.amazonaws.com
            Effect: Allow
            Condition:
              StringEquals:
                AWS:SourceArn:
                  - !Sub arn:aws:cloudfront::${AWS::AccountId}:distribution/${CredentialStatusCloudFrontDistribution}
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${StatusListPublisherFunction}

  ClientRegistryBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${Environment}-client-registry
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: BackupFrequency
          Value: Daily

  ClientRegistryBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ClientRegistryBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - s3:GetObject
            Principal:
              Service: lambda.amazonaws.com
            Resource: !Sub arn:aws:s3:::${ClientRegistryBucket}/*
            Condition:
              StringEquals:
                AWS:SourceArn:
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${IssueStatusListEntryFunction}
                  - !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${RevokeFunction}
          - Effect: Deny
            Action: '*'
            Principal: '*'
            Resource: !Sub arn:aws:s3:::${ClientRegistryBucket}/*
            Condition:
              Bool:
                aws:SecureTransport: false

  ListConfigurationBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub ${AWS::StackName}-${Environment}-list-configuration
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      VersioningConfiguration:
        Status: Enabled
      Tags:
        - Key: BackupFrequency
          Value: Daily

  ListConfigurationBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref ListConfigurationBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:DeleteObject
            Principal:
              Service: lambda.amazonaws.com
            Resource: !Sub arn:aws:s3:::${ListConfigurationBucket}/*
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${IssueStatusListEntryFunction}
          - Effect: Allow
            Action:
              - s3:GetObject
            Principal:
              Service: lambda.amazonaws.com
            Resource: !Sub arn:aws:s3:::${ListConfigurationBucket}/*
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${FindAvailableSlotsFunction}
          - Effect: Deny
            Action: '*'
            Principal: '*'
            Resource: !Sub arn:aws:s3:::${ListConfigurationBucket}/*
            Condition:
              Bool:
                aws:SecureTransport: false

  StatusListOriginAccessControl:
    Type: AWS::CloudFront::OriginAccessControl
    Properties:
      OriginAccessControlConfig:
        Name: !Ref StatusListBucket
        Description: !Sub Ensure requests to ${StatusListBucket} are signed and thus allowed by the S3 resource policy
        OriginAccessControlOriginType: s3
        SigningBehavior: always
        SigningProtocol: sigv4

  CredentialStatusRecordSet:
    Type: AWS::Route53::RecordSet
    Properties:
      Name: !Sub
        - ${dnsPrefix}${dnsSuffix}
        - dnsPrefix: !If
            - StackNameIsCrsBackend
            - ""
            - !Sub ${AWS::StackName}.
          dnsSuffix: !FindInMap
            - EnvironmentVariables
            - !Ref Environment
            - dnsSuffix
      Type: A
      HostedZoneId: !Sub '{{resolve:ssm:/${Environment}/Platform/Route53/PrimaryZoneID}}'
      AliasTarget:
        DNSName: !GetAtt CredentialStatusCloudFrontDistribution.DomainName
        HostedZoneId: Z2FDTNDATAQYW2

  CredentialStatusCloudFrontCachePolicy:
    Type: AWS::CloudFront::CachePolicy
    Properties:
      CachePolicyConfig:
        Comment: !Sub ${AWS::StackName} ${Environment} Credential Status
        DefaultTTL: 7200 # 2 hours
        MaxTTL: 39600 # 11 hours
        MinTTL: 0
        Name: !Sub ${AWS::StackName}-${Environment}-credential-status
        ParametersInCacheKeyAndForwardedToOrigin:
          CookiesConfig:
            CookieBehavior: none
          EnableAcceptEncodingGzip: false
          EnableAcceptEncodingBrotli: false
          HeadersConfig:
            HeaderBehavior: none
          QueryStringsConfig:
            QueryStringBehavior: none

  CredentialStatusCloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        Comment: !Sub ${AWS::StackName} ${Environment} Credential Status
        HttpVersion: http1.1
        Origins:
          - DomainName: !Sub ${StatusListBucket}.s3.${AWS::Region}.amazonaws.com
            Id: bucketOrigin
            OriginAccessControlId: !Ref StatusListOriginAccessControl
            S3OriginConfig:
              OriginAccessIdentity: ""
        DefaultCacheBehavior:
          CachedMethods:
            - GET
            - HEAD
          AllowedMethods:
            - GET
            - HEAD
          TargetOriginId: bucketOrigin
          CachePolicyId: !Ref CredentialStatusCloudFrontCachePolicy
          ViewerProtocolPolicy: allow-all
        PriceClass: PriceClass_All
        Logging:
          Bucket: log-archive-cloudfront-logs-523017967436-eu-west-2.s3.amazonaws.com
          Prefix: !Sub ${AWS::AccountId}/${AWS::StackName}/
        Aliases:
          - !Sub
            - ${dnsPrefix}${dnsSuffix}
            - dnsPrefix: !If
                - StackNameIsCrsBackend
                - ""
                - !Sub ${AWS::StackName}.
              dnsSuffix: !FindInMap
                - EnvironmentVariables
                - !Ref Environment
                - dnsSuffix
        ViewerCertificate:
          AcmCertificateArn: !If
            - StackNameIsCrsBackend
            - !FindInMap
              - EnvironmentVariables
              - !Ref Environment
              - CertificateArnV1UsEast1
            - !FindInMap
              - EnvironmentVariables
              - dev
              - CertificateWildcardArnV1UsEast1
          MinimumProtocolVersion: TLSv1.2_2021
          SslSupportMethod: sni-only

  AvailableSlotsSNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: lambda
      TopicArn: !Ref AvailableSlotsCapacitySNSTopic
      Endpoint: !GetAtt FindAvailableSlotsFunction.Arn

  AvailableSlotsCapacitySNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${AWS::StackName}-AvailableSlotsCapacityTopic

  LambdaSNSPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref FindAvailableSlotsFunction
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref AvailableSlotsCapacitySNSTopic

  BitstringQueueCapacityAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub ${AWS::StackName}-BitstringQueueCapacityAlarm
      AlarmDescription: Alarm if Bitstring queue drops below 25% capacity
      MetricName: ApproximateNumberOfMessagesVisible
      Namespace: AWS/SQS
      Statistic: Average
      Period: 60 # Check every minute
      EvaluationPeriods: 1
      Threshold: 2500
      ComparisonOperator: LessThanThreshold
      AlarmActions:
        - !Ref AvailableSlotsCapacitySNSTopic
      Dimensions:
        - Name: QueueName
          Value: !GetAtt BitstringAvailableSlotsSQS.QueueName
    Condition: DeployAlarms

  TokenStatusQueueCapacityAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub ${AWS::StackName}-TokenStatusQueueCapacityAlarm
      AlarmDescription: Alarm if TokenStatus queue drops below 25% capacity
      MetricName: ApproximateNumberOfMessagesVisible
      Namespace: AWS/SQS
      Statistic: Average
      Period: 60 # Check every minute
      EvaluationPeriods: 1
      Threshold: 2500
      ComparisonOperator: LessThanThreshold
      AlarmActions:
        - !Ref AvailableSlotsCapacitySNSTopic
      Dimensions:
        - Name: QueueName
          Value: !GetAtt TokenStatusAvailableSlotsSQS.QueueName
    Condition: DeployAlarms

  # Alerts for FAS Lambda errors and auto retry
  FindAvailableSlotsLogErrorsSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub ${AWS::StackName}-FindAvailableSlotsLogErrorsTopic
      DisplayName: Lambda Error Topic for FindAvailableSlots

  FindAvailableSlotsLogErrorsSNSSubscription:
    Type: AWS::SNS::Subscription
    Properties:
      Protocol: lambda
      TopicArn: !Ref FindAvailableSlotsLogErrorsSNSTopic
      Endpoint: !GetAtt FindAvailableSlotsFunction.Arn

  FindAvailableSlotsLogErrorsSNSPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref FindAvailableSlotsFunction
      Action: lambda:InvokeFunction
      Principal: sns.amazonaws.com
      SourceArn: !Ref FindAvailableSlotsLogErrorsSNSTopic

  FindAvailableSlotsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-find-available-slots
      RetentionInDays: !FindInMap
        - LogRetention
        - !Ref Environment
        - RetentionPeriod

  # Metric filter to detect errors in logs
  FindAvailableSlotsLogErrorMetricFilter:
    Type: AWS::Logs::MetricFilter
    Properties:
      LogGroupName: !Ref FindAvailableSlotsLogGroup
      FilterPattern: '{$.level = "ERROR" || $.message = "*Error*"}'
      MetricTransformations:
        - MetricName: FindAvailableSlotsLogErrors
          MetricNamespace: !Sub ${AWS::StackName}/LogMessages
          MetricValue: "1"
    Condition: DeployMetricFilters

  # CloudWatch Alarm to monitor the error metric
  FindAvailableSlotsLogErrorAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub ${AWS::StackName}-FindAvailableSlotsLogErrorAlarm
      AlarmDescription: Alarm when FindAvailableSlots Lambda encounters an error, triggering auto-retry
      MetricName: FindAvailableSlotsLogError
      Namespace: !Sub ${AWS::StackName}/LogMessages
      Statistic: SampleCount
      Period: 60 # Check every minute
      EvaluationPeriods: 1
      Threshold: 0
      ComparisonOperator: GreaterThanThreshold
      TreatMissingData: notBreaching
    Condition: DeployMetricFilters

  CheckAlarmStateFunction:
    Type: AWS::Serverless::Function
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: es2022
        EntryPoints:
          - src/functions/checkAlarmState.ts
    Properties:
      FunctionName: !Sub ${AWS::StackName}-check-alarm-state
      Handler: src/functions/checkAlarmState.handler
      Timeout: 30 # 30 seconds
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - cloudwatch:DescribeAlarms
              Resource: '*'
      Environment:
        Variables:
          ALARM_NAME: !Sub ${AWS::StackName}-FindAvailableSlotsErrorAlarm

  FindAvailableSlotsRetryStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub ${AWS::StackName}-FindAvailableSlotsRetry
      RoleArn: !GetAtt FindAvailableSlotsRetryStateMachineRole.Arn
      Definition:
        StartAt: CheckAlarm
        States:
          CheckAlarm:
            Type: Task
            Resource: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-check-alarm-state
            ResultPath: $.alarmCheck
            Next: IsAlarm
          IsAlarm:
            Type: Choice
            Choices:
              - Variable: $.alarmCheck.state
                StringEquals: ALARM
                Next: InvokeFindAvailableSlots
            Default: Done
          InvokeFindAvailableSlots:
            Type: Task
            Resource: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${AWS::StackName}-find-available-slots
            Next: Wait
          Wait:
            Type: Wait
            Seconds: 60
            Next: CheckAlarm
          Done:
            Type: Succeed

  FindAvailableSlotsRetryStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: StepFunctionInvokeLambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt CheckAlarmStateFunction.Arn
                  - !GetAtt FindAvailableSlotsFunction.Arn
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue

  FindAvailableSlotsAlarmEventRule:
    Type: AWS::Events::Rule
    Properties:
      EventPattern:
        source:
          - aws.cloudwatch
        detail-type:
          - CloudWatch Alarm State Change
        detail:
          state:
            value:
              - ALARM
          alarmName:
            - !Sub ${AWS::StackName}-FindAvailableSlotsErrorAlarm
      Targets:
        - Arn: !Ref FindAvailableSlotsRetryStateMachine
          Id: FindAvailableSlotsRetryStateMachine
          RoleArn: !GetAtt FindAvailableSlotsAlarmEventRole.Arn

  FindAvailableSlotsAlarmEventRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
        - arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole
      Policies:
        - PolicyName: AllowStartStepFunction
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Ref FindAvailableSlotsRetryStateMachine
      PermissionsBoundary: !If
        - UsePermissionsBoundary
        - !Ref PermissionsBoundary
        - !Ref AWS::NoValue
